/* */
ul,ol{margin-top:18px;margin-bottom:18px;padding-left:16px;list-style-position:outside;}
li {list-style-type:disc;}
pre {
	overflow:hidden;
	line-height: inherit;
}
strong {
	font-weight:bold;
}
em {
	font-style: italic;
	color: #bb8844;
	font-size: 105%;
}
blockquote {
	margin: 10px 20px 10px 20px;
	background: #FFB380;
	background: #FFF5E6;
	padding: 10px 4px 10px 4px;
	border-left: 4px solid #B34700;
	font-size: 90%;
}

/* --------------------------------------------------
 * CUSTOM
 -----------------------------------------------------*/




.section h1 {color:#6DA2B8;background:#dddddd}

p.tip-archive-description a {color:#fe7900}

.text_content_container {background:#eee}


.extended-content-widget {
	margin: 25px 0px 25px 0px;
}

#cloud-container{
	/*float: left;
	position:absolute;*/
	line-height:1.0;
	background:	url('bg.gif') no-repeat;
	width:640px; 
	/*height:700px; */
	
}

.cloud-items {
	/*float: left;
	position:absolute;*/
	line-height:1.0;
	/*width:310px; 
	height:1000px;*/
	padding:0px; 
}
.cloud-items:after{content:".";display:block;height:0;clear:both;visibility:hidden;}

.cloud-items a {
	color: #000;
	text-decoration:none;
	display:block;
}
.cloud-items ul {
    
	list-style:none;	
	background:#fff; /*IE6 needs this*/
	padding-left: 0px;
	margin-left: 5px;
	margin-right: 5px;
	
}
.cloud-items li a:hover {
	color: #ff7900;
}
.cloud-items li {
	float: left;
	list-style:none;	
	position:relative;
	padding: 4px 8px 0px 8px;
	line-height: 28px;
}


.cloud-items li ul {
	left:0;
	top:-999em;
	width: 180px;
	padding-top:50px;
	height:190px;
	/*background: url('sub-bg.png') no-repeat;*/
	position:absolute;
	list-style:none;
	z-index:100;
	text-align: center;
	background: #FF0000;
	}

.hovertip {
	position: absolute;
	display: none; /* in case javascript is disabled */
	width: 270px;
	height:350px;
	/*background: url('sub-bg.png') no-repeat;*/
	font-size: 12px;
	z-index: 100;
	margin-left: 5px;
	margin-top: 10px;
	}

ul.hovertip li {
	/*display:inline;*/
	list-style:none;
	color: #00F;
}

ul.hovertip li a{ text-decoration:none; font-style:italic}

ul.hovertip {width:auto; padding-top:30px; padding-left:10px;padding-right:10px; height:auto; padding-bottom:20px; display:block;
background: #e6ece6; border: 2px dotted #ff7900;
}




.dark {background:#000;color:#FFF;}
.dark h2 {color:#ff7800;font-size:14px;font-weight:bold}
.dark a {color:#6da2b8}
.lessdark {background:#090912;color:#FFF;}
.lessdark h2 {color:#ff7800;font-size:14px;font-weight:bold}
.lessdark a {color:#6da2b8}

.sky {background:#9ed1d7}
.sky h2 {color:#2b5171;font-size:14px;font-weight:bold}
.sky a {color:#2b5171}

.django {background:#003828;color:#FFF}
.django h2 {color:#9ccb47;font-size:14px;font-weight:bold}
.django a {color:#ffe761}

.python {background:#ffd646}
.python h2 {color:#3776ab;font-size:14px;font-weight:bold}
.python a {color:#3776ab}


.titlebar {height:80px}

.teaserBox {width:240px;height:240px;margin-right:15px;}
        .teaserBox h2 a {text-decoration:none;font-size:inherit;color:inherit;font-weight:inherit}
        
.teasebox {padding:0 10px 0 10px;font-size:110%}


/*Twitter*/
 #twitter-tease {background:url(/site_media/images/twitter_bar_bg.png) repeat-x}
 #twitter-tease p {margin-top:35px}
 #twitter-tease .timesince {text-align:right;width:100%;display:block;float:right;font-size:12px;color:#9ce8fc;color:#444;margin-top:-36px}
 a.twitter_username {color:#ff7900}

.twitter-time {padding:30px 5px 0px 5px;color:#777}
.twitter-message {padding:30px 0px 0px 0px}

/* Delicious */
#delicious-tease {background:url(/site_media/images/delicious_bar_bg.png) repeat-x; padding:12px 0 0 12px}
#delicious-tease .timesince {text-align:right;width:100%;display:block;float:right;font-size:12px;color:#4a83d4;color:#444;margin-top:-24px;padding-right:8px}

/* Pro-tips */
#pro-tips-tease {background:url(/site_media/images/pro_tip_bar_bg.png) repeat-x; padding:12px 0 0 12px}
#pro-tips-tease .timesince {text-align:right;width:100%;display:block;float:right;font-size:12px;color:#4a83d4;color:#444;margin-top:-24px;padding-right:8px}

/* Article */
.article {font-size:16px;color:#333;padding:10px}
.article h3 {font-size:18px;margin-top:15px;background-color:#222;padding:6px}
.article ul, .article ol {margin-left:20px;color:#000}

ol li {list-style:decimal}

.protip {font-size:16px;color:#333;padding:10px}
.protip h3 {font-size:18px;margin-top:15px;background-color:#222;padding:6px}
.protip ul, .protip ol {margin-left:20px;color:#000}

/* ---
 * Tags & Tag clouds
 */

p.tag_list {font-size:90%}
p.tag_list .tags {color:#444}


.cloud-item {padding:8px}

.tag-cloud-weight1 {font-size: 12px;}
.tag-cloud-weight2 {font-size: 16px;}
.tag-cloud-weight3 {font-size: 18px;}
.tag-cloud-weight4 {font-size: 20px;}
.tag-cloud-weight5 {font-size: 24px;}
.tag-cloud-weight6 {font-size: 28px;}