<h2>Essentials</h2>
<ul>
  <li><a rel="bookmark" href="http://djangosnippets.org">Snippets</a></li>
  <li><a rel="bookmark" href="http://djangobook.com/en/1.0/">Django Book</a></li>
  <li><a rel="bookmark" href="http://groups.google.com/group/django-users">Users Group</a></li>
  <li><a rel="bookmark" href="http://djangoplugables.com/">Find Quality Django Apps</a></li>
  <li><a rel="bookmark" href="http://djangopeople.net">People</a></li>
  <li><a rel="bookmark" href="http://djangosites.org">Powered by Django</a></li>
  <li><a rel="bookmark" href="http://djangogigs.org">Jobs and Gigs</a></li>
  <li><a rel="bookmark" href="http://djangofriendly.com/">Find Hosting</a></li>
  <li><a rel="bookmark" href="http://djangopost.com">Django News and Links</a></li>
</ul>